/* About.css */
.banner-container {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .reach-container {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .picture-container {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .picture {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  
  .text-container {
    padding: 2rem;
    text-align: left;
    height: 100%;
  }
  
  .visit-button,
  .circles-button {
    margin-top: 2rem;
    background-color: #001F3F;
    color: white;
  }
  
  .visit-button:hover,
  .circles-button:hover {
    background: #001A33;
  }
  