/* Header.css */

body {
  margin: 0; /* Remove default margin from body */
}

.header-container {
  display: flex;
  background-color: inherit;
  padding: 1rem;
  padding-right: 30px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 2s ease, box-shadow 1s ease;
  font-size: 13px;
  justify-content: space-between;
  text-decoration: none;
}

.header-container.scroll {
  height: 60px; /* Set the reduced height as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: hsl(210, 20%, 98%);
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Media query for reducing size on small screens */

.logo {
  margin-right: 0.5rem;
  border-radius: 50%;
}

.church-name {
  color: #212529;
  font-size: 1.2rem;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  gap: 2rem;
  z-index: 1;
  flex-wrap: wrap;
  overflow: hidden; /* hide overflow content */
  max-height: 1000px; /* set a maximum height */
  transition: max-height 0.4s ease, flex-direction 0.4s ease; 
}

.menu-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.menu-item {
  text-decoration: none;
  color: #212529;
  margin: 0.5rem;
  transition: background-color 0.4s, color 0.4s;
  order: 0;
}

.grow-menu-item {
  display: flex;
  justify-content: space-between;
}

.about-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgb(255, 255, 255);
  height: 25px;
  color: rgb(29, 7, 226);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: hsl(210, 20%, 98%);
  padding-top: 1rem;
  padding-left: 0.5rem;
  gap: 0.23rem;
  font-size: 13px;
  width: 140px;
}




